<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Mario Penavades Suárez y Alberto Jimenez Aliste.
</p>
<p>https://github.com/mariopn/quiz_2017</p>
<div>
    <img width="360" src="/images/mario.jpg"/>
    <img width="180" src="/images/alberto.jpg"/>
</div>

