<h1>Página de ayuda</h1>

<h3>Ésta página está creada como ayuda a los diferentes quizes.</h3>

<p>¿Qué es un quiz?</p>
<p>Un quiz es una prueba rápida que se usa mucho a nivel
    escolar. Son pequeñas pruebas, pero son esenciales
    para preparar a los estudiantes para las pruebas más
    amplias y complicadas.</p>
<p>¿Cómo se responde?</p>
<p>Se responde poniendo en la caja de texto la respuesta que creamos
que es la correcta.</p>
<p>¿Cuál es el objetivo?</p>
<p>Crear un portal donde se puedan añadir multitud de quizes para que
otros usarios contesten.</p>